In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import time
import pandas_profiling

In [2]:
df = pd.read_csv("Family-Income-and-Expenditure.csv")
df.describe()
orig_shape = df.shape
print(orig_shape[0])

41544

In [3]:
# uncomment two lines below if you want to generate an HTML file that visualizes all the data
# profile = df.profile_report(title='Philippine Household Income Report')
# profile.to_file(output_file="Pandas Profiling Report â€” Philippine Household Income .html")

In [4]:
df.dtypes

Total Household Income                            int64
Region                                           object
Total Food Expenditure                            int64
Main Source of Income                            object
Agricultural Household indicator                  int64
Bread and Cereals Expenditure                     int64
Total Rice Expenditure                            int64
Meat Expenditure                                  int64
Total Fish and  marine products Expenditure       int64
Fruit Expenditure                                 int64
Vegetables Expenditure                            int64
Restaurant and hotels Expenditure                 int64
Alcoholic Beverages Expenditure                   int64
Tobacco Expenditure                               int64
Clothing, Footwear and Other Wear Expenditure     int64
Housing and water Expenditure                     int64
Imputed House Rental Value                        int64
Medical Care Expenditure                          int64
Transportation Expenditure                        int64
Communication Expenditure                         int64
Education Expenditure                             int64
Miscellaneous Goods and Services Expenditure      int64
Special Occasions Expenditure                     int64
Crop Farming and Gardening expenses               int64
Total Income from Entrepreneurial Acitivites      int64
Household Head Sex                               object
Household Head Age                                int64
Household Head Marital Status                    object
Household Head Highest Grade Completed           object
Household Head Job or Business Indicator         object
Household Head Occupation                        object
Household Head Class of Worker                   object
Type of Household                                object
Total Number of Family members                    int64
Members with age less than 5 year old             int64
Members with age 5 - 17 years old                 int64
Total number of family members employed           int64
Type of Building/House                           object
Type of Roof                                     object
Type of Walls                                    object
House Floor Area                                  int64
House Age                                         int64
Number of bedrooms                                int64
Tenure Status                                    object
Toilet Facilities                                object
Electricity                                       int64
Main Source of Water Supply                      object
Number of Television                              int64
Number of CD/VCD/DVD                              int64
Number of Component/Stereo set                    int64
Number of Refrigerator/Freezer                    int64
Number of Washing Machine                         int64
Number of Airconditioner                          int64
Number of Car, Jeep, Van                          int64
Number of Landline/wireless telephones            int64
Number of Cellular phone                          int64
Number of Personal Computer                       int64
Number of Stove with Oven/Gas Range               int64
Number of Motorized Banca                         int64
Number of Motorcycle/Tricycle                     int64
dtype: object

In [5]:
df.head(4)

,Total Household Income,Region,Total Food Expenditure,Main Source of Income,Agricultural Household indicator,Bread and Cereals Expenditure,Total Rice Expenditure,Meat Expenditure,Total Fish and marine products Expenditure,Fruit Expenditure,...,Number of Refrigerator/Freezer,Number of Washing Machine,Number of Airconditioner,"Number of Car, Jeep, Van",Number of Landline/wireless telephones,Number of Cellular phone,Number of Personal Computer,Number of Stove with Oven/Gas Range,Number of Motorized Banca,Number of Motorcycle/Tricycle
0,480332,CAR,117848,Wage/Salaries,0,42140,38300,24676,16806,3325,...,1,1,0,0,0,2,1,0,0,1
1,198235,CAR,67766,Wage/Salaries,0,17329,13008,17434,11073,2035,...,0,1,0,0,0,3,1,0,0,2
2,82785,CAR,61609,Wage/Salaries,1,34182,32001,7783,2590,1730,...,0,0,0,0,0,0,0,0,0,0
3,107589,CAR,78189,Wage/Salaries,0,34030,28659,10914,10812,690,...,0,0,0,0,0,1,0,0,0,0

In [6]:
list_of_objects = ["Region","Main Source of Income","Household Head Sex","Household Head Marital Status",
                   "Household Head Marital Status",
                   "Household Head Highest Grade Completed","Household Head Job or Business Indicator",
                   "Household Head Occupation","Household Head Class of Worker","Type of Building/House","Type of Roof","Type of Walls",
                  "Tenure Status","Toilet Facilities","Main Source of Water Supply"]

In [7]:
for i in list_of_objects:
    print(df[i].head(5))

0    CAR
1    CAR
2    CAR
3    CAR
4    CAR
Name: Region, dtype: object
0    Wage/Salaries
1    Wage/Salaries
2    Wage/Salaries
3    Wage/Salaries
4    Wage/Salaries
Name: Main Source of Income, dtype: object
0    Female
1      Male
2      Male
3      Male
4      Male
Name: Household Head Sex, dtype: object
0     Single
1    Married
2    Married
3    Married
4    Married
Name: Household Head Marital Status, dtype: object
0     Single
1    Married
2    Married
3    Married
4    Married
Name: Household Head Marital Status, dtype: object
0    Teacher Training and Education Sciences Programs
1                         Transport Services Programs
2                                             Grade 3
3                                 Elementary Graduate
4                                 Elementary Graduate
Name: Household Head Highest Grade Completed, dtype: object
0    With Job/Business
1    With Job/Business
2    With Job/Business
3    With Job/Business
4    With Job/Business
Name: Household Head Job or Business Indicator, dtype: object
0    General elementary education teaching professi...
1                                 Transport conductors
2                               Farmhands and laborers
3                                         Rice farmers
4    General managers/managing proprietors in trans...
Name: Household Head Occupation, dtype: object
0        Worked for government/government corporation
1                    Worked for private establishment
2                    Worked for private establishment
3    Employer in own family-operated farm or business
4                   Self-employed wihout any employee
Name: Household Head Class of Worker, dtype: object
0    Single house
1    Single house
2    Single house
3    Single house
4    Single house
Name: Type of Building/House, dtype: object
0    Strong material(galvanized,iron,al,tile,concre...
1    Strong material(galvanized,iron,al,tile,concre...
2                   Light material (cogon,nipa,anahaw)
3                   Light material (cogon,nipa,anahaw)
4                   Light material (cogon,nipa,anahaw)
Name: Type of Roof, dtype: object
0          Strong
1          Strong
2           Light
3           Light
4    Quite Strong
Name: Type of Walls, dtype: object
0    Own or owner-like possession of house and lot
1    Own or owner-like possession of house and lot
2    Own or owner-like possession of house and lot
3    Own or owner-like possession of house and lot
4    Own or owner-like possession of house and lot
Name: Tenure Status, dtype: object
0    Water-sealed, sewer septic tank, used exclusiv...
1    Water-sealed, sewer septic tank, used exclusiv...
2    Water-sealed, sewer septic tank, shared with o...
3                                           Closed pit
4    Water-sealed, sewer septic tank, used exclusiv...
Name: Toilet Facilities, dtype: object
0    Own use, faucet, community water system
1    Own use, faucet, community water system
2     Shared, faucet, community water system
3    Own use, faucet, community water system
4    Own use, faucet, community water system
Name: Main Source of Water Supply, dtype: object

In [8]:
# example if you deal with an ordinal variable
# mapper = {0: 'small', 1: 'medium', 2: 'large'}
# ordvar = df.replace(mapper)

df = pd.get_dummies(df, columns =list_of_objects, drop_first = True)

In [9]:
# with pd.option_context('display.max_rows', None, 'display.max_columns', None):  
#     print(df.dtypes)
# more options can be specified also

In [10]:
#I forgot to do this variable and made a mistake. This is how we debug our code.
df = pd.get_dummies(df, columns =["Type of Household"], drop_first = True)

In [11]:
df.shape[0] #number of rows for sanity checking

41544

In [12]:
y = np.log(df["Total Household Income"])
X = df.drop(["Total Household Income"], axis = 1)

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.20)

In [14]:
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor(n_jobs=-1)
t0 = time.time()
model.fit(X_train, y_train)
t1 = time.time()
print(t1-t0)

75.51461577415466

In [ ]:
from sklearn.model_selection import cross_val_score
model1 = RandomForestRegressor(n_jobs=-1)
t0 = time.time()
cv_score = cross_val_score(model1, X_train, y_train, cv=5, scoring = "r2")
t1 = time.time()
print(t1-t0)
print(cv_score)

In [ ]:
important_features_dict = {}
for x,i in enumerate(model.feature_importances_):
    important_features_dict[x]=i


important_features_list = sorted(important_features_dict,
                                 key=important_features_dict.get,
                                 reverse=True)

In [ ]:
#50 most important predictors of family income and their importance scores
for i in range(102):
    print(str(i+1)+": "+X_train.columns[important_features_list[i]]+": "+str(important_features_dict[important_features_list[i]]))

In [ ]:
summation = 0
for i in range(len(important_features_dict)):
    summation+=important_features_dict[important_features_list[i]]
print(round(summation,2))

In [ ]:
from sklearn.metrics import r2_score
y_predict = model.predict(X_test)
print(str(round(r2_score(y_test,y_predict)*100,2))+"% accuracy")

In [ ]:
from sklearn.linear_model import LinearRegression
LR = LinearRegression()
LR.fit(X_train,y_train)
y_predict = LR.predict(X_test)
print(str(round(r2_score(y_test,y_predict)*100,2))+"% accuracy")