In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import time
import pandas_profiling

In [2]:
df = pd.read_csv("Family-Income-and-Expenditure.csv")
df.describe()
orig_shape = df.shape
print(orig_shape[0])

41544

In [3]:
# uncomment two lines below if you want to generate an HTML file that visualizes all the data
# profile = df.profile_report(title='Philippine Household Income Report')
# profile.to_file(output_file="Pandas Profiling Report â€” Philippine Household Income .html")

In [4]:
df.dtypes

Total Household Income                            int64
Region                                           object
Total Food Expenditure                            int64
Main Source of Income                            object
Agricultural Household indicator                  int64
Bread and Cereals Expenditure                     int64
Total Rice Expenditure                            int64
Meat Expenditure                                  int64
Total Fish and  marine products Expenditure       int64
Fruit Expenditure                                 int64
Vegetables Expenditure                            int64
Restaurant and hotels Expenditure                 int64
Alcoholic Beverages Expenditure                   int64
Tobacco Expenditure                               int64
Clothing, Footwear and Other Wear Expenditure     int64
Housing and water Expenditure                     int64
Imputed House Rental Value                        int64
Medical Care Expenditure                          int64
Transportation Expenditure                        int64
Communication Expenditure                         int64
Education Expenditure                             int64
Miscellaneous Goods and Services Expenditure      int64
Special Occasions Expenditure                     int64
Crop Farming and Gardening expenses               int64
Total Income from Entrepreneurial Acitivites      int64
Household Head Sex                               object
Household Head Age                                int64
Household Head Marital Status                    object
Household Head Highest Grade Completed           object
Household Head Job or Business Indicator         object
Household Head Occupation                        object
Household Head Class of Worker                   object
Type of Household                                object
Total Number of Family members                    int64
Members with age less than 5 year old             int64
Members with age 5 - 17 years old                 int64
Total number of family members employed           int64
Type of Building/House                           object
Type of Roof                                     object
Type of Walls                                    object
House Floor Area                                  int64
House Age                                         int64
Number of bedrooms                                int64
Tenure Status                                    object
Toilet Facilities                                object
Electricity                                       int64
Main Source of Water Supply                      object
Number of Television                              int64
Number of CD/VCD/DVD                              int64
Number of Component/Stereo set                    int64
Number of Refrigerator/Freezer                    int64
Number of Washing Machine                         int64
Number of Airconditioner                          int64
Number of Car, Jeep, Van                          int64
Number of Landline/wireless telephones            int64
Number of Cellular phone                          int64
Number of Personal Computer                       int64
Number of Stove with Oven/Gas Range               int64
Number of Motorized Banca                         int64
Number of Motorcycle/Tricycle                     int64
dtype: object

In [5]:
df.head(4)

,Total Household Income,Region,Total Food Expenditure,Main Source of Income,Agricultural Household indicator,Bread and Cereals Expenditure,Total Rice Expenditure,Meat Expenditure,Total Fish and marine products Expenditure,Fruit Expenditure,...,Number of Refrigerator/Freezer,Number of Washing Machine,Number of Airconditioner,"Number of Car, Jeep, Van",Number of Landline/wireless telephones,Number of Cellular phone,Number of Personal Computer,Number of Stove with Oven/Gas Range,Number of Motorized Banca,Number of Motorcycle/Tricycle
0,480332,CAR,117848,Wage/Salaries,0,42140,38300,24676,16806,3325,...,1,1,0,0,0,2,1,0,0,1
1,198235,CAR,67766,Wage/Salaries,0,17329,13008,17434,11073,2035,...,0,1,0,0,0,3,1,0,0,2
2,82785,CAR,61609,Wage/Salaries,1,34182,32001,7783,2590,1730,...,0,0,0,0,0,0,0,0,0,0
3,107589,CAR,78189,Wage/Salaries,0,34030,28659,10914,10812,690,...,0,0,0,0,0,1,0,0,0,0

In [6]:
list_of_objects = ["Region","Main Source of Income","Household Head Sex","Household Head Marital Status",
                   "Household Head Marital Status",
                   "Household Head Highest Grade Completed","Household Head Job or Business Indicator",
                   "Household Head Occupation","Household Head Class of Worker","Type of Building/House","Type of Roof","Type of Walls",
                  "Tenure Status","Toilet Facilities","Main Source of Water Supply"]

In [7]:
for i in list_of_objects:
    print(df[i].head(5))

0    CAR
1    CAR
2    CAR
3    CAR
4    CAR
Name: Region, dtype: object
0    Wage/Salaries
1    Wage/Salaries
2    Wage/Salaries
3    Wage/Salaries
4    Wage/Salaries
Name: Main Source of Income, dtype: object
0    Female
1      Male
2      Male
3      Male
4      Male
Name: Household Head Sex, dtype: object
0     Single
1    Married
2    Married
3    Married
4    Married
Name: Household Head Marital Status, dtype: object
0     Single
1    Married
2    Married
3    Married
4    Married
Name: Household Head Marital Status, dtype: object
0    Teacher Training and Education Sciences Programs
1                         Transport Services Programs
2                                             Grade 3
3                                 Elementary Graduate
4                                 Elementary Graduate
Name: Household Head Highest Grade Completed, dtype: object
0    With Job/Business
1    With Job/Business
2    With Job/Business
3    With Job/Business
4    With Job/Business
Name: Household Head Job or Business Indicator, dtype: object
0    General elementary education teaching professi...
1                                 Transport conductors
2                               Farmhands and laborers
3                                         Rice farmers
4    General managers/managing proprietors in trans...
Name: Household Head Occupation, dtype: object
0        Worked for government/government corporation
1                    Worked for private establishment
2                    Worked for private establishment
3    Employer in own family-operated farm or business
4                   Self-employed wihout any employee
Name: Household Head Class of Worker, dtype: object
0    Single house
1    Single house
2    Single house
3    Single house
4    Single house
Name: Type of Building/House, dtype: object
0    Strong material(galvanized,iron,al,tile,concre...
1    Strong material(galvanized,iron,al,tile,concre...
2                   Light material (cogon,nipa,anahaw)
3                   Light material (cogon,nipa,anahaw)
4                   Light material (cogon,nipa,anahaw)
Name: Type of Roof, dtype: object
0          Strong
1          Strong
2           Light
3           Light
4    Quite Strong
Name: Type of Walls, dtype: object
0    Own or owner-like possession of house and lot
1    Own or owner-like possession of house and lot
2    Own or owner-like possession of house and lot
3    Own or owner-like possession of house and lot
4    Own or owner-like possession of house and lot
Name: Tenure Status, dtype: object
0    Water-sealed, sewer septic tank, used exclusiv...
1    Water-sealed, sewer septic tank, used exclusiv...
2    Water-sealed, sewer septic tank, shared with o...
3                                           Closed pit
4    Water-sealed, sewer septic tank, used exclusiv...
Name: Toilet Facilities, dtype: object
0    Own use, faucet, community water system
1    Own use, faucet, community water system
2     Shared, faucet, community water system
3    Own use, faucet, community water system
4    Own use, faucet, community water system
Name: Main Source of Water Supply, dtype: object

In [8]:
# example if you deal with an ordinal variable
# mapper = {'small':0 , 'medium': 1, 'large':2 }
# ordvar = df.replace({columnName:mapper}})

df = pd.get_dummies(df, columns =list_of_objects, drop_first = True)

In [9]:
# with pd.option_context('display.max_rows', None, 'display.max_columns', None):  
#     print(df.dtypes)
# more options can be specified also

In [10]:
#I forgot to do this variable and made a mistake. This is how we debug our code.
df = pd.get_dummies(df, columns =["Type of Household"], drop_first = True)

In [11]:
df.shape[0] #number of rows for sanity checking

41544

In [12]:
y = np.log(df["Total Household Income"])
X = df.drop(["Total Household Income"], axis = 1)

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.20)

In [14]:
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor(n_jobs=-1)
t0 = time.time()
model.fit(X_train, y_train)
t1 = time.time()
print(t1-t0)

35.1676459312439

In [15]:
from sklearn.model_selection import cross_val_score
model1 = RandomForestRegressor(n_jobs=-1)
t0 = time.time()
cv_score = cross_val_score(model1, X_train, y_train, cv=5, scoring = "r2")
t1 = time.time()
print(t1-t0)
print(cv_score)

144.59770798683167
[0.89574744 0.90227253 0.89668558 0.8982108  0.8954899 ]

In [16]:
important_features_dict = {}
for x,i in enumerate(model.feature_importances_):
    important_features_dict[x]=i


important_features_list = sorted(important_features_dict,
                                 key=important_features_dict.get,
                                 reverse=True)

In [17]:
#50 most important predictors of family income and their importance scores
for i in range(102):
    print(str(i+1)+": "+X_train.columns[important_features_list[i]]+": "+str(important_features_dict[important_features_list[i]]))

1: Miscellaneous Goods and Services Expenditure: 0.466654226833731
2: Total Food Expenditure: 0.16673948180768183
3: Housing and water Expenditure: 0.1536470530586857
4: Communication Expenditure: 0.05593044703707512
5: Total Income from Entrepreneurial Acitivites: 0.039197098321862606
6: Transportation Expenditure: 0.01374841244068904
7: Medical Care Expenditure: 0.008908901588151611
8: Special Occasions Expenditure: 0.008247695617145204
9: Clothing, Footwear and Other Wear Expenditure: 0.007550968197271785
10: Meat Expenditure: 0.004390007881701448
11: Education Expenditure: 0.004277581853716529
12: Total number of family members employed: 0.0038945811473380834
13: Fruit Expenditure: 0.0038241868021898343
14: Household Head Age: 0.003572547968452918
15: Total Fish and  marine products Expenditure: 0.0033793768399994163
16: House Floor Area: 0.003363460855968698
17: Restaurant and hotels Expenditure: 0.0032019034640063788
18: Imputed House Rental Value: 0.003016440413520561
19: Vegetables Expenditure: 0.0029801234061350343
20: Bread and Cereals Expenditure: 0.0027305532347956726
21: Total Rice Expenditure: 0.0027241485291418562
22: Alcoholic Beverages Expenditure: 0.002713998797219188
23: House Age: 0.0025960854781696113
24: Tobacco Expenditure: 0.0020005152897783706
25: Number of Cellular phone: 0.001809457217432798
26: Number of bedrooms: 0.0013770838703458749
27: Main Source of Income_Wage/Salaries: 0.0013100801889229965
28: Total Number of Family members: 0.001222130415203676
29: Crop Farming and Gardening expenses: 0.0011161577006213452
30: Main Source of Income_Other sources of Income: 0.0008806325470767252
31: Members with age 5 - 17 years old: 0.000835775627787477
32: Number of Personal Computer: 0.0007670547380621276
33: Number of Refrigerator/Freezer: 0.0006482862964705653
34: Number of Television: 0.0006272203948249815
35: Number of Car, Jeep, Van: 0.0006145193999275943
36: Region_VII - Central Visayas: 0.0006048568721924096
37: Region_XII - SOCCSKSARGEN: 0.0005836510114605021
38: Number of Airconditioner: 0.0005201440792027941
39: Number of Motorcycle/Tricycle: 0.0005199868944561235
40: Agricultural Household indicator: 0.0004901981569673862
41: Members with age less than 5 year old: 0.0004236837291433326
42: Number of CD/VCD/DVD: 0.00041011443859777
43: Region_II - Cagayan Valley: 0.0003666497677369151
44: Number of Washing Machine: 0.0003622122228358801
45: Toilet Facilities_Water-sealed, sewer septic tank, used exclusively by household: 0.0003453198085811726
46: Household Head Class of Worker_Self-employed wihout any employee: 0.00034205374549298515
47: Type of Household_Single Family: 0.0003376876914751131
48: Region_III - Central Luzon: 0.00032562488563596913
49: Number of Stove with Oven/Gas Range: 0.0003133137575836077
50: Main Source of Water Supply_Own use, faucet, community water system: 0.00030517218806837786
51: Number of Component/Stereo set: 0.00029744961131844316
52: Household Head Job or Business Indicator_With Job/Business: 0.00029092417358877077
53: Tenure Status_Own or owner-like possession of house and lot: 0.0002865902666934289
54: Household Head Class of Worker_Worked for private establishment: 0.0002694076681404756
55: Household Head Class of Worker_Worked for government/government corporation: 0.0002590344509833415
56: Household Head Highest Grade Completed_High School Graduate: 0.00025331773633812104
57: Type of Walls_Strong: 0.00025150266200352645
58: Household Head Sex_Male: 0.0002493721229495555
59: Household Head Highest Grade Completed_Elementary Graduate: 0.0002346753337793453
60: Main Source of Water Supply_Own use, tubed/piped deep well: 0.00021935604311391498
61: Region_CAR: 0.00021176472671358948
62: Region_IX - Zasmboanga Peninsula: 0.0002010039860539115
63: Type of Roof_Strong material(galvanized,iron,al,tile,concrete,brick,stone,asbestos): 0.00019875028313005695
64: Household Head Highest Grade Completed_Teacher Training and Education Sciences Programs: 0.00019519327682189866
65: Electricity: 0.00019085950238922902
66: Region_IVA - CALABARZON: 0.000189600632117155
67: Main Source of Water Supply_Shared, tubed/piped deep well: 0.00018772637939206498
68: Region_I - Ilocos Region: 0.00018052103309189948
69: Region_X - Northern Mindanao: 0.00017704580549556028
70: Household Head Occupation_Corn farmers: 0.00017546121260662276
71: Tenure Status_Own house, rent-free lot with consent of owner: 0.00016979086421586569
72: Main Source of Water Supply_Shared, faucet, community water system: 0.00016329067154225788
73: Toilet Facilities_Water-sealed, other depository, used exclusively by household: 0.00015994252843308111
74: Household Head Highest Grade Completed_First Year High School: 0.00015525325422294345
75: Region_XI - Davao Region: 0.000145992242640839
76: Household Head Occupation_Rice farmers: 0.00014228819209385747
77: Household Head Marital Status_Married: 0.00014133277093057476
78: Main Source of Water Supply_Protected spring, river, stream, etc: 0.00014089590526203952
79: Household Head Marital Status_Married: 0.0001403791205444996
80: Toilet Facilities_Water-sealed, sewer septic tank, shared with other household: 0.00013538950664219033
81: Household Head Occupation_Farmhands and laborers: 0.00013534643945293704
82: Household Head Occupation_General managers/managing proprietors in wholesale and retail trade: 0.00013163047192339805
83: Region_VI - Western Visayas: 0.00012968820463248637
84: Household Head Marital Status_Widowed: 0.00012723863721095742
85: Household Head Marital Status_Widowed: 0.00012675531413349592
86: Main Source of Water Supply_Tubed/piped shallow well: 0.00012270561992409543
87: Household Head Highest Grade Completed_Grade 4: 0.00012153882150169512
88: Household Head Highest Grade Completed_Second Year High School: 0.00012042067383058899
89: Region_VIII - Eastern Visayas: 0.00011733822414306115
90: Household Head Highest Grade Completed_Business and Administration Programs: 0.00011706998144206122
91: Type of Walls_Quite Strong: 0.00011691007899117503
92: Region_Caraga: 0.00011595423780216127
93: Household Head Highest Grade Completed_Grade 5: 0.0001153944212083378
94: Toilet Facilities_None: 0.00011365597211688384
95: Household Head Occupation_Carpenters and joiners: 0.00010112872687203805
96: Region_NCR: 9.909821220067377e-05
97: Household Head Highest Grade Completed_Grade 3: 9.865228524950349e-05
98: Household Head Occupation_Hog raising farmers: 9.76523932932084e-05
99: Household Head Highest Grade Completed_Post Baccalaureate: 9.725149955949483e-05
100: Type of Walls_Very Light: 9.693284528659105e-05
101: Household Head Highest Grade Completed_Grade 2: 9.511486420787316e-05
102: Household Head Highest Grade Completed_Transport Services Programs: 9.487334974484307e-05

In [18]:
summation = 0
for i in range(len(important_features_dict)):
    summation+=important_features_dict[important_features_list[i]]
print(round(summation,2))

1.0

In [19]:
from sklearn.metrics import r2_score
y_predict = model.predict(X_test)
print(str(round(r2_score(y_test,y_predict)*100,2))+"% accuracy")

89.48% accuracy

In [21]:
from tpot import TPOTRegressor

In [22]:
# tpot = TPOTRegressor(generations=1, population_size=50,scoring='r2', verbosity=2,n_jobs=-1, warm_start=True)
# tpot.fit(X_train, y_train.values.ravel())
# print('from tpot.score')